/* font-family: 'Roboto', sans-serif;

COLORS
teal - #0fb9b1;
frosted white - rgba(225, 225, 225, .9);
grey - #95a5a6;
red - #ee5253

*/
* {
  margin: 0px;
  font-family: 'Roboto', sans-serif;
  /* border: solid red; */
}
body {
    background-image: url(assets/burger-friends.jpg);
    background-size:     cover;
    background-repeat:   no-repeat;
    background-position: center center;
}
header {
  background: #0fb9b1;
  display: flex;
  justify-content: space-between;
}
main {
  display: flex;
  justify-content: space-around;
}
section {
  background-color: rgba(225, 225, 225, .9);
  margin-top: 20px;
  width: 38vw;
  height: 53vh;
  margin-top: 5vh;
}
input {
  display: block;
}
.lets-cook {
  background-color: #0fb9b1;
  width: 10vw;
  height: 5vh;
  border-radius: 3px;
  font-size: .5em;
}
.cookpot {
  width: 15vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
